
body {
    background-color: azure;
}
th {
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.nav {
    background-color: aliceblue;
}
.active {
}
#firstItem{
}
#secondItem{

}