<!DOCTYPE html>
<html lang="en"xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<body>
<!---Header--->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Full Catalog</h1>
        <p class="lead">Whether you’re trying to level up your career, build your side project,
            or simply play around with programming, you’ve found the right place to start.
            Explore our programs and courses, try an exercise or two, and join our community of 45 million learners.</p>
        <h2> Career paths</h2>
        <p>Career Paths guide you through exactly what you need to learn to build a solid foundation for a career in tech.</p>
    </div>
</div>
<br>
<h3> BY SUBJECT </h3>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>How to make a Website </title>
<!--Bootstrap CSS-->
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
<!--My CSS-->
<link rel="stylesheet" type="text/css" href="css/style.css}">
<!--- Catalog and what are offered --->
<div class="topnav">
    <a href="#test"> Web Development </a><br>
    <a href="#test"> Programming </a><br>
    <a href="#test"> Data Science </a><br>
    <a href="#test"> Partnership </a><br>
    <a href="#test"> Design </a><br>
    <a href="#test"> Game Development </a>
    <h3> BY LANGUAGE </h3>
    <a href="#test"> HTML & CSS </a> <br>
    <a href="#test"> JavaScript </a> <br>
    <a href="#test"> Java </a><br>
    <a href="#test"> SQL </a><br>
    <a href="#test"> Bash/Shell </a><br>
    <a href="#test"> Ruby </a><br>
    <a href="#test"> C++ </a><br>
    <a href="#test"> R </a><br>
    <a href="#test"> C# </a><br>
    <a href="#test"> PHP </a><br>
</div>
</body>
</html>