<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<style>

</style>
<body>
<br>

<h2 color="Brown" align="middle"> What we offer! </h2>
<h3> BY SUBJECT </h3>
<div class="middlenav">
    <a href="#test"> Web Development </a><br>
    <a href="#test"> Programming </a><br>
    <a href="#test"> Data Science </a><br>
    <a href="#test"> Partnership </a><br>
    <a href="#test"> Design </a><br>
    <a href="#test"> Game Development </a>
    <h3> BY LANGUAGE </h3>
    <a href="#test"> HTML & CSS </a> <br>
    <a href="#test"> JavaScript </a> <br>
    <a href="#test"> Java </a><br>
    <a href="#test"> SQL </a><br>
    <a href="#test"> Bash/Shell </a><br>
    <a href="#test"> Ruby </a><br>
    <a href="#test"> C++ </a><br>
    <a href="#test"> R </a><br>
    <a href="#test"> C# </a><br>
    <a href="#test"> PHP </a><br>

</div>
</body>
</html>