<!DOCTYPE html>
<html lang="en"xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!---Header--->
    <title>Catalog</title>
<style>
    body{
        font-family: 'Nanum Gothic', sans-serif;
        background-color: aquamarine;
    }
    body{
        font-family: 'Bitter', serif;
        background-color: aquamarine;
    }
</style>
</head>
<body>
<!---Header--->
<div class="jumbotron jumbotron-fluid"  >
    <div class="container">
        <h1 class="display-3">Full Catalog</h1>
        <p class="lead">Whether you’re trying to level up your career, build your side project,
            or simply play around with programming, you’ve found the right place to start.
            Explore our programs and courses, try an exercise or two, and join our community of 45 million learners.</p>
        <h2> Career paths</h2>
        <p>Career Paths guide you through exactly what you need to learn to build a solid foundation for a career in tech.</p>
    </div>
</div>
<!--Bootstrap CSS-->
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
<!--My CSS-->
<link rel="stylesheet" type="text/css" href="css/style.css}">
<!--google fonts--->
<link href="https://fonts.googleapis.com/css?family=Bitter|Nanum+Gothic&display=swap" rel="stylesheet">
<!--- Catalog and what are offered --->
<div class="container">
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
       <b>BY SUBJECT</b>
    </a>
    <a href="#" class="list-group-item list-group-item-action">Web Development</a>
    <a href="#" class="list-group-item list-group-item-action">Programming</a>
    <a href="#" class="list-group-item list-group-item-action">Data Science</a>
    <a href="#" class="list-group-item list-group-item-action ">Partnership</a>
    <a href="#" class="list-group-item list-group-item-action">Design</a>
    <a href="#" class="list-group-item list-group-item-action">Game Development</a>
    <a href="#" class="list-group-item list-group-item-action active">
        <b>BY LANGUAGE</b></a>
    <a href="#" class="list-group-item list-group-item-action"> HTML & CSS</a>
    <a href="#" class="list-group-item list-group-item-action">JavaScript</a>
    <a href="#" class="list-group-item list-group-item-action">Java</a>
    <a href="#" class="list-group-item list-group-item-action ">SQL</a>
    <a href="#" class="list-group-item list-group-item-action">Bash/Shell</a>
    <a href="#" class="list-group-item list-group-item-action">Ruby</a>
    <a href="#" class="list-group-item list-group-item-action ">C++</a>
    <a href="#" class="list-group-item list-group-item-action">R</a>
    <a href="#" class="list-group-item list-group-item-action">C#</a>
    <a href="#" class="list-group-item list-group-item-action">PHP</a>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</div>
</div>
</body>
</html>