<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Navigation bar-->
    </head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Our Class Webpage</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <!--My CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css}">
    <!--<nav>-->
        <!--<div class="topnav">-->
           <!--<h3> <a href="LearnAcademy.html"> LearnAcademy</a></h3>-->
           <!--<h5><a href="Catalog.html"> Catalog </a> </h5>-->
            <!--<h5><a href="Pricing.html"> Pricing </a> </h5>-->
            <!--<input type="text" placeholder="Search...">-->

        <!--</div>-->
    <!--</nav>-->

</head>
<!-- Background/ styling-->
<body>
<body>
<ul class="nav">
    <li class="nav-item" id="firstItem">
        <a class="nav-link" href="#">LearnAcademy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Catalog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>

<div class="jumbotron">
    <h1 class="display-4">Make a Website...</h1>
    <p class="lead">Explore HTML & CSS fundamentals as you build a website
        in this introductory web development course</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
</body>
    <style>
        body {
            background-color: white;
        }

       </style>
<!-- info about the website-->
    <title >How to Code a Website </title>
    <!--<header class ="header" style="background-color:#3c64c2;">-->
    <!--<h1 align="center">Make a Website </h1>-->
    <!--<h4 align="center"> Explore HTML & CSS fundamentals as you build a website-->
        <!--in this introductory web development course</h4>-->
  <!--<h2 align="center"> <button style="color: #ff863c" > <b>START  </b> </button> </h2>-->
    <!--</header>-->
<!-- overview of the website, waht it offers--->
    <h2> <a href="#test"> Overview </a> </h2>
    <h3> Why Learn HTML and CSS? </h3>
    <p> Everything you see on a website is a result of the combination of HTML and CSS.
        With these two languages, you will have the skills you need to bring your website
        design to life. Jump start that vision by using Bootstrap, a popular library
        that allows you to create beautiful,
        responsive pages with very little time and experience.</p>
    <h3> Take-Away Skills: </h3>
    <p>You will build four simple websites using web development fundamentals,
        including HTML5, CSS3 and Bootstrap. You will learn to understand and modify
        the structure of a basic website, as well as how to change the way a page
        looks and is laid out. </p>
    <br>
<!-- Syllabus-->
    <h2> <a href="#test" > Syllabus </a> </h2>
    <ul>
        <li> <a href="#test"> Site Structure </a>
            <box>
        <ul>
            <li>Site Structure - Interactive lesson</li>
            <li> Common Cents Party - Freeform Project</li>
            <li> Site Structure - Multiple Choice Quiz </li>
        </ul>
            </box>
        </li>
        <li> A Closer Look at CSS </li>
        <li> Boundaries and Space </li>
        <li> Building with Bootstrap </li>
    </ul>
</body>
</html>