<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing</title>
    <br >
    <h1 align="middle" > The Easiest way to code! </h1>
    <h4 align="middle" > Unlock LearnAcademy’s premium features and get where you're going, faster.</h4>
    <h3 align="middle" >  <button>UPGRADE NOW</button></h3>
    <h2 align="middle" > Choose your plan!</h2>
</head>
<body>
<style>
    body {
        background-color: whitesmoke;
    }
    h1,h4,h3,h2{
        align:"middle"
    }
</style>
<ul>
    <li> <h4>12 Month Subscription </h4></li>
    <li> <h4>6 Month Subscription</h4></li>
    <li> <h4>Monthly Subscription</h4> </li>
</ul>
<div class="card" style="width: 18rem;">
    <!--<img src="..." class="card-img-top" alt="...">-->
    <div class="card-body">
        <h5 class="card-title">12 Month Subscription</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
</body>
</html>