<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-color: aliceblue;
            align-content: center;
            border-image: round;
        }
    </style>
</head>
<body>
<img align="center"
     src="https://res.cloudinary.com/dgogsuupz/image/upload/c_scale,w_718/v1562699062/Indian-Education-Caste-System-Madras-Courier-02_fdlmhq.jpg" style="border-image: round">
<!--- Sign up with email and password for free--->
<form>
    <h2 > Get Started for Free </h2>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <br>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <br>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary">Clear</button>
</form>
</body>
</html>